.orderDiv{
    float: left;
    width:  auto;
    height: auto;
    margin: 25px 0px 30px 10px;
}

.mtable{
    float: left;
    width:  auto;
    height: auto;
    margin: 0px 0px 15px 15px;
}

.divSelection{
    float: left;
    width:  350px;
    height: auto;
    margin: 12px 2px 0px 12px;
    border: 3px solid #73AD21;
}

.innerProductDiv{
    margin: 10px;
    /*border: 3px solid #73AD21;*/
    border: 1px solid red;
    background-color: yellow;
    padding: 10px 10px 10px 20px; /* t r b l*/
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.divSelectionNew{
    border: 3px solid #000000;
}

.ontheright{
    clear: left;
    float: left;
    border: 3px solid #73AD21;
}

.ontheleft{
    clear: left;
    clear: right;
    float: right;
    border: 3px solid #886A08;
}

tbody.orderContent tr td{
    text-align: center;
}

select, option {
    width: 300px;
}

