<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Getting Started: Handling Form Submission</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <link href="customer.css"                    rel="stylesheet" />
   <script src="bootstrap/js/bootstrap.min.js"                   />
   <script src="JQuery/jquery-1.12.3.min.js"                     />

   <script src="JQuery/jquery.autocomplete.min.js"></script>
   <script src="JQuery/jquery.popupWindow.js"></script>

</head>
<body>
<div class="customerDiv">
   <form id="addressForm" class="form-style-9" action="#" th:action="@{/addressFormURL}" th:object="${address}" method="post">
      <ul>
         <li  th:if="*{id} > 0">
            <p class="field-style field-split align-left">Address ID :   <span id="address_id" th:text="*{id}" /></p>
         </li>
         <li>
            <p class="field-style field-split align-left">Consumer ID :   <span th:text="*{consumer_id}" /></p>
            <p class="field-style field-split align-left">Consumer Name :   <span th:text="*{consumer_name}" /></p>
            <input type="hidden" th:field="*{consumer_id}" />
            <input type="hidden" th:field="*{consumer_name}" />
         </li>
         <li>
            <textarea rows="25" cols="20" th:field="*{address}" class="field-style field-split align-left" size="30" placeholder="address" />
         </li>
         <li>
            <input type="submit" id="addressSubmit" value="Submit" />
            <input type="checkbox" id="locked" /> locked
         </li>
      </ul>
   </form>
</div>
</body>
<script th:inline="javascript">
   /*<![CDATA[*/
      if([[${addressInputDisabled}]]) {
         $("#addressForm :input").prop("disabled", true);
         $("#addressForm  #locked").prop("disabled", false);
         $("#addressForm  #locked").prop("checked", true);
         $("#addressForm  #addressSubmit").val("Update");
      }
   /*]]>*/
 </script>
<script src="app_customer.js"></script>
</html>
