<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Add New Consumer</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <link href="customer.css"                    rel="stylesheet" />
   <script src="bootstrap/js/bootstrap.min.js"                   />
   <script src="JQuery/jquery-1.12.3.min.js"                     />

   <script src="JQuery/jquery.autocomplete.min.js"></script>
   <script src="JQuery/jquery.popupWindow.js"></script>

</head>
<body>
<div class="customerDiv">
   <form id="consumerForm" class="form-style-9" action="#" th:action="@{/consumerFormURL}" th:object="${consumer}" method="post">
      <ul>
         <span  th:if="*{id} > 0">
            <li>
               <p class="field-style field-split align-left">Consumer ID :   <span id="consumer_id" th:text="*{id}" /></p>
            </li>
         </span>
         <li>
            <input type="hidden" th:field="*{id}" class="field-style field-split align-left" placeholder="id" />
            <input type="text" th:field="*{name}" class="field-style field-split align-left" placeholder="Name" />
         </li>
         <li>
            <input type="text" th:field="*{phone}" class="field-style field-split align-left" placeholder="Phone" />
         </li>
         <li>
            <input type="text" th:field="*{personal_id}" class="field-style field-split align-left" placeholder="Personal Identity" />
         </li>
         <li>
            <input type="text" th:field="*{wechat_id}" class="field-style field-split align-left" placeholder="Wechat ID" />
         </li>
         <li>
            <input type="text" th:field="*{comment}" class="field-style field-split align-left" placeholder="Comment" />
         </li>
         <li>
            <input type="text" th:field="*{customer_id}" class="field-style field-split align-left" disabled="disabled" placeholder="Customer ID" />
            <input type="hidden" th:field="*{customer_id}" class="field-style field-split align-left" placeholder="Customer ID" />
         </li>
         <li>
            <textarea rows="15" cols="20" />
         </li>
         <li>
            <input type="submit" id="consumerSubmit" value="Submit" />
            <input type="checkbox" id="locked" /> locked
         </li>
         <li>
            <span  th:if="*{id} > 0">
               <input type="button" id="addNewAddress" value="Add Address" />
            </span>
         </li>
      </ul>
   </form>
</div>
</body>
<script th:inline="javascript">
   /*<![CDATA[*/
      if([[${consumerInputDisabled}]]) {
         $("#consumerForm :input").prop("disabled", true);
         $("#consumerForm  #locked").prop("disabled", false);
         $("#consumerForm  #locked").prop("checked", true);
         $("#consumerForm  #consumerSubmit").val("Update");
         $("#consumerForm  #addNewAddress").prop("disabled", false);
      }
   /*]]>*/
 </script>
<script src="app_customer.js"></script>
</html>
