<!DOCTYPE html>
<html>
<head>
    <title>List All Order Brief</title>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="JQuery/jquery-1.12.3.min.js"></script>
    <script src="JQuery/jquery.tablesorter.min.js"></script>
    <script src="app_orderList.js"></script>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="product.css"                    rel="stylesheet" />
    <link href="app_orderList.css" rel="stylesheet" />
    <link rel="stylesheet" href="jq.css"    type="text/css"       media="print, projection, screen" />
    <link rel="stylesheet" href="style.css" type="text/css" id="" media="print, projection, screen" />

</head>
<body>
<button type="button" id="refund">Refund It</button>
<button type="button" id="refundInfo">Refund Info</button>

<h2>Form - Order</h2>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <div id="demo">
                    <form action="#" th:id="orderSearchForm" th:action="@{/orderDetailSearchURL}" th:object="${search}" method="post">
                        <!--<table class="table table-striped tablesorter" id="orderTableContent">-->
                        <div class="addShippment">
                            <input type="hidden" th:field="*{searchString}" />
                            <span id="newer" style="float:left">NEWER
                                <input type="hidden" th:class="searchCiteria" th:field="*{newer_id}" />
                            </span>
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            <span id="latest" >LATEST
                                <input type="hidden" th:class="searchCiteria" th:field="*{older_id}" /> <!--$($(".searchCiteria")[3])-->
                            </span>
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            <span id="centre" >CLEAR</span>
                            <span id="older" style="float:right">OLDER</span>
                        </div>
                        <table class="table table-striped tablesorter" style="background-color: #CDCDCD;" id="searchOrderDetails">
                            <thead>
                            <tr>
                                <td><input type="text" th:class="searchCiteria" th:field="*{id}"                 class="field-style field-split align-left" placeholder="id" autofocus="true" /></td>
                                <td><input type="text" th:class="searchCiteria" th:field="*{total}"        class="field-style field-split align-left" placeholder="total_price" /></td>
                                <td><input type="text" th:class="searchCiteria" th:field="*{status}"             class="field-style field-split align-left" placeholder="status" /></td>
                                <td><input type="text" th:class="searchCiteria" th:field="*{customer_id}"        class="field-style field-split align-left" placeholder="customer_id" /></td>
                                <td><input type="text" th:class="searchCiteria" th:field="*{modified_time}"        class="field-style field-split align-left" placeholder="date_modified" /></td>
                                <td><input type="text" th:class="searchCiteria" th:field="*{firstname}" class="field-style field-split align-left" placeholder="firstname" /></td>
                                <td><input type="text" th:class="searchCiteria" th:field="*{lastname}"  class="field-style field-split align-left" placeholder="lastname" /></td>
                                <td><input type="text" th:class="searchCiteria" th:field="*{pay_method}"         class="field-style field-split align-left" placeholder="pay_method" /></td>
                                <td><input type="text" th:class="searchCiteria" th:field="*{comment}"            class="field-style field-split align-left" placeholder="comment" /></td>
                                <td><button type="button" id="search">submit</button></td>
                            </tr>
                            </thead>
                        </table>
                <table class="table tablesorter" id="orderTableContent">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Customer ID</th>
                        <th>Date Modified</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Payment Method</th>
                        <th>Comment</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders_label}" th:class="${'order_'+order.id}">
                        <th scope=""><a th:href="@{/orderDetailURL(id=${order.id})}"><p th:text="${order.id}"/></a></th>
                        <td th:text="${order.total}"></td>
                        <td th:text="${order.status}"></td>
                        <td th:text="${order.customer_id}"></td>
                        <td th:text="${order.modified_time}"></td>
                        <td th:text="${order.firstname}"></td>
                        <td th:text="${order.lastname}"></td>
                        <td th:text="${order.pay_method}"></td>
                        <td th:text="${order.comment}"></td>
                        <td class="add"> ADD </td>
                        <!--<td class="add" th:onclick="'javascript:getOrderDetails(\'' + ${order.id}+'\');'"> ADD </td>-->
                        <!--<td class="add" onclick="javascript:getOrderDetails(\'' + ${order.id}+'\')"> ADD </td>-->
                    </tr>
                    </tbody>
                </table>
                </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
