<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app_shippment.css" rel="stylesheet" />
    <link href="popup.css"         rel="stylesheet" />
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="JQuery/jquery-1.12.3.min.js"></script>
    <!--<script src="JQuery/jquery.modal.js"></script>-->
    <script src="app_shippment.js" ></script>

    <script th:inline="javascript">
    /*<![CDATA[*/
        var message = [[${order_label.total_price}]];
        var order   = [[${order_label}]];

        var trans   = [[${transactions_label}]];
        var size    = trans.length;
        trans[size] = trans[0];
        trans[size].product_name = "Weight";
        trans[size].quantity = "0";
        trans[size].product_id ="999";
        trans[size].deal_price = "0";
        trans[size].id = "kg";

        <!--alert(message);-->
        <!--console.log(message);-->
    /*]]>*/
    </script>
</head>

<body>
	<h1>Order Page ----</h1>
    <form class="shippment" action="#" th:action="@{/resultURL}" method="post">
    	<p>Id: <input type="text" th:field="${order_label.id}" /></p>
        <!--<p>total_price: <input type="text" th:field="${order_label.total_price}" /></p>-->
        <!--<p>status: <input type="text" th:field="${order_label.status}" /></p>-->
        <!--<p>created_by: <input type="text" th:field="${order_label.created_by}" /></p>-->
        <!--<p>modified_by: <input type="text" th:field="${order_label.modified_by}" /></p>-->
        <!--<p>customer_id: <input type="text" th:field="${order_label.customer_id}" /></p>-->
        <!--<p>pay_method: <input type="text" th:field="${order_label.pay_method}" /></p>-->
        <!--<p>comment: <input type="text" th:field="${order_label.comment}" /></p>-->
        <!--<p>customer_comment: <input type="text" th:field="${order_label.customer_comment}" /></p>-->
        <!--<p>card_price: <input type="text" th:field="${order_label.card_price}" /></p>-->
        <!--<p>is_invoiced: <input type="text" th:field="${order_label.is_invoiced}" /></p>-->
        <!--<p>modified_time: <input type="text" th:field="${order_label.modified_time}" /></p>-->
        <!--<p>created_time: <input type="text" th:field="${order_label.created_time}" /></p>-->
        =========================================================
        <p>Id_other: <input type="text" th:field="${order_label_other.id}" /></p>
        <!--<p>modified_time: <input type="text" th:field="${order_label_other.modified_time}" /></p>-->
        =========================================================
        <p>Order Total Price is:<span th:text="${order_label.total_price}"></span></p>
        <p>Order Number os Categories is:<span class="numberOfCategories" th:text="${order_label.numberOfCategories}"></span></p>

        <br/><br/>

        <div>
            <input type="submit" class="formButton button-border" value="Submit" />
            <input type="reset"  class="formButton button-border ontheright" value="Reset" />
        </div>
        <table border="1" id="mtable">
            <!--<input id="row" placeholder="Enter Item Name" onkeypress='stopSumbitOnEter()'/> <button type='button' id="irow" >Add New Product    </button><br/>-->
            <br/>
            <!--<input type="button" value="Send" onclick="JavaScript:return Validator();" />-->
            <input id="col" size= "25" placeholder="Scan Shippment Barcode Here ..." onkeypress='stopSumbitOnEter()'/>
            <button type='button' class="button-border" id="icol" >Add Shippment Order</button>
            <br/><br/>
            <thead><tr><td>ID</td><td>Product Name</td><td>Unit Price</td><td>QTY</td><td>Assigned</td></tr></thead>
            <tbody class="orderContent">
                <tr th:id="${transaction.id}" th:each="transaction : ${transactions_label}">
                    <td><p th:text="${transaction.id}"/></td>
                    <td><p th:text="${transaction.product_name}"/></td>
                    <td><p th:text="${transaction.deal_price}"/></td>
                    <td><p th:text="${transaction.quantity}"/></td>
                    <td><p class="assinged">0</p></td>
                </tr>
                <tr><td><p>999</p></td><td><p>Weight</p></td><td><p>null</p></td><td><p>0</p></td><td><p class="assinged">0</p></td></tr>
            </tbody>
        </table><br/>
    </form>

<!--    <button type="button" class="addShippmentButton button-border" onclick="return false;">Add Shippment</button>
    <button type="button" class="addProductButton button-border"   onclick="return false;">Add Product  </button>-->
    <div class="orderShippment ontheright"></div>

    <div class="wrapper">
        <div class="modal">
            <header>
                <h2 id="shipmentNo">Title</h2>
                <button class="close toggleModal">Close</button>
            </header>
            <section class="popup">
                <p>Lorem ipsum dolor sit amet, consectetur amis at adipisicing elit. Maiores quaerat est officia aut nam amet ipsum natus corporis adipisci cupiditate voluptas unde totam quae vel error neque odio id etas lasf reiciendis.</p>
            </section>
            <button class="button-border button-success" onclick="PopupToPrint()"><span class="icon"></span> Print</button>
            <button class="button-border button-error pull-right"><span class="icon"></span>Lock</button>
        </div>
    </div>
</body>
</html>