<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href=              "app_shippment.css" rel="stylesheet" />
    <link href=                      "popup.css" rel="stylesheet" />
    <link href=               "autocomplete.css" rel="stylesheet" />
    <link href="customer.css"                    rel="stylesheet" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src=  "JQuery/jquery-1.12.3.min.js"></script>
    <script src= "JQuery/jquery-barcode.min.js"></script>

    <script src=             "app_shippment.js"></script>

    <script src="JQuery/jquery.autocomplete.min.js"></script>
    <script src=     "JQuery/jquery.popupWindow.js"></script>

    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href=                                "http://resources/demos/style.css" />
</head>

<body>
<!--    <div id="barcodeTarget" class="barcodeTarget"></div>-->
    <div class="ontheright orderDiv">
        <form class="shippment" action="#" th:action="@{/resultURL}" method="post">
            <div>
                <h1 class="orderNumber">
                    <!--<a href="test.html" th:href="testing.html" th:if="${order_label.customer_name} != 0">Profile</a>-->
                    <!--form th:id="'myForm' + ${object.id}" class="some class" th:action="@{/doSomething}" method="post">-->
                    <span th:id="orderNo"><span th:text="${order_label.id}"/></span>
                    <!-- $("<span> "+order.id+" || </span>").insertBefore("#orderOwner");-->
                    <span  th:if="${order_label.customer_name} != null">
                        <span th:text ="${order_label.customer_name}" th:id="orderOwner_disabled" th:class="orderOwner" th:name="orderOwner" ondblclick="changeOwnerShip()"/>
                        <input type="hidden" th:value="${order_label.customer_name}" th:id="orderOwner" />
                        <input type="hidden" th:value="${order_label.customer_id}" th:id="orderOwnerId" />
                    </span>
                    <span th:if="${order_label.customer_name} == null">
                        <input  th:id="orderOwner" th:class="orderOwner" th:name="orderOwner" type="text" size="20" value="" onkeyup="selectOrderOwner()" placeholder="Entering Customer ..." />
                        <input id="orderOwnerShipButton" type="button" size="3" value="确认" onclick="updateOrderOwner()" />
                    </span>
                    <span class="addNewCustomer"><!--<img src="imgs/smiley.gif" alt="Smiley face" width="42" height="42" /><img src="imgs/plus_blk.png" alt="Smiley face" width="42" height="42" />  -->ADD</span>
                </h1>
            </div>

            <input id="col" class="inputCol" size= "25" placeholder="Scan Shippment Barcode Here ..." onkeypress='stopSumbitOnEter()'/>
            <button type='button' class="button-border" id="icol" >Add Shippment Order</button>
            <table border="1" id="mtable" class="mtable">
                <!--<input id="row" placeholder="Enter Item Name" onkeypress='stopSumbitOnEter()'/> <button type='button' id="irow" >Add New Product    </button><br/>-->
                <br/>
                <!--<input type="button" value="Send" onclick="JavaScript:return Validator();" />-->
                <br/>
                <input id="shippment_comments"  size= "40" placeholder="Record Shippment Comments Here ..." />

                <button type='button' class="button-border" id="mpCans" value="3" onclick="milkpowderSettings(1)">1罐奶粉</button>
                <button type='button' class="button-border" id="mpCans" value="3" onclick="milkpowderSettings(2)">2罐奶粉</button>
                <button type='button' class="button-border" id="mpCans" value="3" onclick="milkpowderSettings(3)">3罐奶粉</button>
                <button type='button' class="button-border" id="mpCans" value="6" onclick="milkpowderSettings(6)">6罐奶粉</button>
                <button type='button' class="button-border" id="mpCans" value="8" onclick="milkpowderSettings(8)">8罐奶粉</button>
                <a href="http://localhost:8080/cameraURL">Take Screenshot</a>

                <br/><br/>
                <thead><tr><td>ID</td><td>Product Name</td><td>Unit Price</td><td>QTY</td><td>Assigned</td></tr></thead>
                <tbody class="orderContent">
                    <tr th:id="${transaction.id}" th:each="transaction : ${transactions_label}">
                        <td><p th:text="${transaction.id}"/></td>
                        <td><p th:text="${transaction.name}"/></td>
                        <td><p th:text="${transaction.deal_price}"/></td>
                        <td><p th:text="${transaction.quantity}"/></td>
                        <td><p class="assinged">0</p></td>
                    </tr>
                    <tr><td><p>999</p></td>
                        <td>
                            <select id="weight" onchange="delivery(this.value)">
                                <option value="                 ">             </option>
                                <option value="奶粉.澳邮|4.5"    >奶粉.澳邮    </option>
                                <option value="杂物.中环国际|5.5">杂物.中环国际</option>
                                <option value="杂物.重庆中环|6.5">杂物.重庆中环</option>
                                <option value="鞋子.重庆中环|6.5">鞋子.重庆中环</option>
                                <option value="杂物.EWE|6"       >杂物.EWE     </option>
                                <option value="杂物.一速递|7.5"  >杂物.一速递  </option>
                            </select>
                        </td>
                        <td><p id="weight_price">0</p></td>
                        <td><p>0</p></td><td><p class="assinged">0</p></td></tr>
                </tbody>
            </table><br/>
        </form>

        <div class="ontheleft">
            <div id="includedContent">test</div>
        </div>

    </div>
    <div class="ontheleft">
        <div>
            <input type="text" size="20" id="consumer_name"  placeholder="Entering consumer name..." />
            <button type="button" class="consumerSearchButton button-border" id="consumerSearch" onclick="return false;">consumer search</button>
        </div>
        <div class="consumer_list"></div>
        <div>
            <input type="hidden" size="35" id="consumer_id"  placeholder="Entering consumer id ..." />
            收件人名字：<input type="text" size="35" id="consumer_name"  placeholder="Entering consumer name ..." /><br/>
            收件人电话：<input type="text" size="35" id="consumer_phone"  placeholder="Entering consumer phone ..." /><br/>
            收件人证件：<input type="text" size="35" id="consumer_identity"  placeholder="Entering consumer identity ..." /><br/>
            <button type="button" class="addShippmentButton button-border" id="updateConsumer" onclick="return false;">Update Consumer</button>
            <button type="button" class="addShippmentButton button-border" id="addNewConsumer" onclick="return false;">Add Consumer</button>
        </div>
        <br/>
        <div class="address_list"></div>
        <div>
            <textarea rows="10" cols="70" id="consumer_address"  placeholder="Entering consumer address ..." />
        </div>

    </div>

<!--    <button type="button" class="addShippmentButton button-border" onclick="return false;">Add Shippment</button>
    <button type="button" class="addProductButton button-border"   onclick="return false;">Add Product  </button>-->
    <div class="orderShippment ontheright"></div>

    <div class="wrapper">
        <div class="modal">
            <header>
                <h2 id="shipmentNo">Title</h2>
                <button class="close toggleModal">Close</button>
            </header>
            <section class="popup">
                <p>Lorem ipsum dolor sit amet, consectetur amis at adipisicing elit. Maiores quaerat est officia aut nam amet ipsum natus corporis adipisci cupiditate voluptas unde totam quae vel error neque odio id etas lasf reiciendis.</p>
            </section>
            <button class="button-border button-success" onclick="PopupToPrint()"><span class="icon"></span> Print</button>
            <button class="button-border button-error pull-right"><span class="icon"></span>Lock</button>
        </div>
    </div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
        var message = [[${order_label.total}]];
        var order   = [[${order_label}]];
        var trans   = [[${transactions_label}]];
    /*]]>*/
</script>
<script>
        $(function(){
          //$("#includedCustomer").load("/addCustomerFormURL");
          //$("#includedContenD").load("/addConsumerFormURL");
        });
    </script>
</html>