<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result two</h1>
    <p th:text="'id: ' + ${order_label.id}" />
    <p th:text="'content: ' + ${order_label.total_price}" />
    =================================================
    <p th:text="'id: ' + ${order_label_other.id}" />
    <p th:text="'total_price: ' + ${order_label_other.total_price}" />
    <p>status: <input type="text" th:field="${order_label_other.status}" /></p>
    <p>created_by: <input type="text" th:field="${order_label_other.created_by}" /></p>
    <p>modified_by: <input type="text" th:field="${order_label_other.modified_by}" /></p>
    <p>customer_id: <input type="text" th:field="${order_label_other.customer_id}" /></p>
    <p>pay_method: <input type="text" th:field="${order_label_other.pay_method}" /></p>
    <p>comment: <input type="text" th:field="${order_label_other.comment}" /></p>
    <p>customer_comment: <input type="text" th:field="${order_label_other.customer_comment}" /></p>
    <p>card_price: <input type="text" th:field="${order_label_other.card_price}" /></p>
    <p>is_invoiced: <input type="text" th:field="${order_label_other.is_invoiced}" /></p>
    <p>modified_time: <input type="text" th:field="${order_label_other.modified_time}" /></p>
    <p>created_time: <input type="text" th:field="${order_label_other.created_time}" /></p>
    <a href="/greetingsURL">Submit another message testing testing </a>
</body>
</html>

